# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CashRegister.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\CashRegister\.idea\.idea.CashRegister\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
